* {
    margin: 0;
    padding: 0;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn1 {
    padding: 12px 16px;
    white-space: nowrap;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;

}

.btn1:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    color: #469165;
}

.btn2 {
    padding: 12px 16px;
    white-space: nowrap;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    height: 52px;
    margin: 16px;

}

.btn2:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    color: #469165;
}

.btn3 {
    padding: 12px 16px;
    background: transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    height: 52px;
}

.btn3:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    color: #469165;
}

.header-continer {
    padding: 16px 120px;
    display: flex;
    gap: 345px;
}

.header-continer #nav-bar ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-top: 16px;
}

#nav-bar a {
    white-space: nowrap;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.hero {
    padding: 70px 0 134px 0;
    text-align: center;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
}

.hero-top-text {
    background-color: #FFFFFF;
    max-width: 229px;
    display: flex;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 0 auto;
}

.hero-text-continer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.hero-top-text .icon-redious {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #d9eadf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-redious .span2 {
    width: 12px;
    height: 12px;
    background: #7dad90;
    border-radius: 50%;
}

.icon-redious .span1 {
    width: 6px;
    height: 6px;
    background: #3b8f5b;
    border-radius: 50%;
}

.hero-top-text p {
    font: 16px;
    font-weight: 500;
    color: #469165;
    margin-left: 6px;
}

.heading h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin: 0 auto;
    text-transform: capitalize;
    color: #FFFFFF;
}

.heading h1 span {
    color: #30B868;
}

.hero-text p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
}

.hero-button {
    margin-top: 32px;

}

.nodes {
    text-align: center;
    margin-top: 50px;
}

.nodes-headding h1 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.nodes-headding p {
    color: #627382;
    line-height: 20px;
}

.card-continer {
    max-width: 1360px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 120px;
    margin-top: 44px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    width: 322px;
    height: 300px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.box-img {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding: 20px 20px 0 2px;
}

.card h3 {
    font-size: 24px;
    font-weight: 600px;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

.second-brain {
    margin: 120px;
}

.continer {
    display: flex;
    gap: 60px;
}

.brain-content {
    padding-top: 102px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brain-content .solution {
    color: #469165;
    text-transform: uppercase;
    font-weight: 500;
}

.brain-content ul {
    list-style: none;
    padding: 0;
}

.brain-content h1 {
    font-size: 48px;
    font-weight: 700;
}

.brain-content .info {
    line-height: 20px;
    color: #627382;
}

.brain-content li {
    padding-left: 26px;
    background-image: url("../assets/CheckCircle.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    margin-bottom: 10px;
}
.ready{
    text-align: center;
    background-color: #F7F6F2;
    margin: 120px;
    padding: 80px 40px;
}
.ready-top-cotent{
    margin-bottom: 24px;
}
.ready-top-cotent h2{
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
.ready-top-cotent p{
    color: #627382;
    line-height: 24px;
}
.ready-button-p{
    color: #627382;
    line-height: 20px;
}