* {
    margin: 0;
    padding: 0;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.btn1{
    padding: 12px 16px;
    white-space: nowrap;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}
.btn1:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    color:#469165;
}

.header-continer {
    padding: 16px 120px;
    display: flex;
    gap: 345px;
}
.header-continer #nav-bar ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin-top: 16px;
    
}
#nav-bar a {
  white-space: nowrap;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
