* {
    margin: 0;
    padding: 0;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn1 {
    padding: 12px 16px;
    white-space: nowrap;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    
}

.btn1:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #a19f9f;
    color: #469165;
}
.btn2 {
    padding: 12px 16px;
    white-space: nowrap;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    height: 52px;
    margin: 16px;
    
}

.btn2:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #a19f9f;
    color: #469165;
}
.btn3 {
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    height: 52px;
}

.btn3:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #a19f9f;
    color: #469165;
}
.header-continer {
    padding: 16px 120px;
    display: flex;
    gap: 345px;
}

.header-continer #nav-bar ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-top: 16px;
}

#nav-bar a {
    white-space: nowrap;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.hero {
    padding: 70px 0 134px 0;
    text-align: center;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
}

.hero-top-text {
    background-color: #FFFFFF;
    max-width: 229px;
    display: flex;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 0 auto;
}
.hero-text-continer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}
.hero-top-text .icon-redious {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #d9eadf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-redious .span2 {
    width: 12px;
    height: 12px;
    background: #7dad90;
    border-radius: 50%;
}
.icon-redious .span1 {
    width: 6px;
    height: 6px;
    background: #3b8f5b;
    border-radius: 50%;
}
.hero-top-text p{
    font: 16px;
    font-weight: 500;
    color: #469165;
    margin-left: 6px;
}
.heading h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin: 0 auto;
    text-transform: capitalize;
    color: #FFFFFF;
}
.heading h1 span{
    color: #30B868;
}
.hero-text p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
}
.hero-button{
    margin-top: 32px
}
